/* css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  color: #4c4c4c;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap");

body {
  background-color: #eceef1;
}

/* Navigation Style */

.nav_main {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  align-items: center;
}

.nav__forgotPass {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.nav__forgotPass a {
  margin-top: 5px;
  cursor: pointer;
  text-decoration: none;
}

.nav__signButton {
  padding: 10px;
  align-items: center;
}

.nav__signButton button {
  padding: 10px;
  width: 100px;
  cursor: pointer;
  background-color: #0077c5;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  border: 1px solid #4c4c4c;
}

.nav__signButtonImg {
  width: 14px;
  height: 14px;
  color: #fff;
  background: none;
  padding-right: 2px;
}

/* Header Style */

.header_title {
  align-items: center;
  width: 10rem;
}

.main_haeder {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo_section {
  display: flex;
  margin-bottom: -13px;
}

.logo_section img {
  width: 1.5rem;
  padding: 3px;
}

.logo_section a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Form Area */

.main_sectionForm {
  margin: 0 auto;
  padding: 10px;
}

.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 380px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
}

.main__sectionTitle a {
  text-decoration: none;
  font-size: 12px;
  margin-left: 130px;
  color: #0077cf;
}

h2 {
  padding: 10px;
  font-size: 26px;
  margin-left: 25px;
}

.email_f-1 {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  border: 0;
  margin-left: 20px;
}

.label_email {
  display: block;
  font-size: 16px;
  line-height: 30px;
  color: #404040;
}

.email-form {
  width: 320px;
  border-radius: 4px;
  height: 20px;
  padding-top: 10px;
}

.input_text {
  font-size: 10px;
  text-align: left;
  font-weight: 100;
}

.email_f-2 {
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #0a79c8;
  color: #fff;
  width: 87%;
  cursor: pointer;
  height: 45px;
  font-size: 16px;
  font-weight: 200;
  margin-left: 18px;
}

.email_f-2 img {
  padding-right: 5px;
}

.form_footer {
  font-size: 13px;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 30px;
  line-height: 1.5;
}

.form_footer a {
  text-decoration: none;
  color: #0077c5;
}

.lower_footer {
  font-size: 10px;
}

.main_lower_footer {
  background-color: #eceef1;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 20px;
}

.main_lower_footer a {
  text-decoration: none;
  color: #0077c5;
}